.icon {
  justify-content: center;
}

.button {
  text-align: center;
}

.title {
  text-align: center;
}

.tierLists {
  text-align: center;
  padding-top: 30px;
}

.singleList {
  padding-top: 20px;
}